<section id="founder">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12 my-2">
                <img src="../../../assets/founded.svg" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-12 my-2">
                    <h1>Who we are?</h1>
                    <h4>Founded</h4>
                    <p>FirstC was founded in the year 2020 by 
                        a team of industry veterans focused on SCAA.
                        We are matured delivery partners having extreme capabilities
                         in agility using our own squad, pod agile culture for superior
                          speed and quality delivery.</p>
                          <h4>vision</h4>
                          <p>Our vision is to be a global software player in the 
                            area of SCAA with technical commandos in action.</p>
            </div>

        </div>
    </div>
</section>
<app-founder-version1></app-founder-version1>
<app-founder-version2></app-founder-version2>
<app-founder-version3></app-founder-version3>
<app-founder-version4></app-founder-version4>