#footer{
background: #111111;

    color: rgb(165, 162, 162);
    margin-top: 3%;
}
.quick ul,li {
    list-style: none;

}
.quick ul ,a{
    text-decoration: none;
    color: rgb(221, 213, 213);
    cursor: pointer;
    
}
