<section id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12 ">
                <div>
                    <h6>ABOUT FIRSTC</h6>
                </div>
                
                <p>FirstC is a global software specialist company having focus on SCAA 
                    services and product development. We have a matuered delivery capabilities
                     using our own POD agility methodology. our customer first approach and commitement
                      on super speedy delivery with the quality that exceeds our customer expectation 
                      and gives confidence and trust on us.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-12 ">
                <div>
                    <h6>QUICK LINKS</h6>
                </div>
                
                <ul class="quick">   
                    <a href="#home"><li> Home</li></a>
                    <a href="#founder"><li>Who we are & what we do?</li></a>
                    <a href="#card"><li>How are we different?</li></a>
                    <a href="#ourproducts"><li>Our Products</li></a>
                    <a href="#contact"><li>Contact</li></a>
                    
                </ul>

            </div>
            <div class="col-lg-3 col-md-3 col-12 ">
                <div>
                    <h6>CONTACT US</h6>
                </div>
                
                <ul>
                    <li>Chennai, Tamil Nadu, India</li>
                    <li>info@fcglobal.in</li>
                    <li>+91 6380247030</li>
                </ul>

            </div>
           <h6 class="text-center">Copyright ©2021. FirstC Global Software Services Private Limited.</h6>
        </div>

    </div>
</section>
