<section class="founder">
    <h1 class="text-center">What We do?</h1>
    <div class="row">

    
<div class= "col-lg-3 col-md-3 col-12">
    <img src="../../../../assets/security.svg" class="card-img-top" alt="...">
    <div class="card-body">
        <h4 class="card-title">Security</h4>
        <h5 class=""> Focus Areas</h5>
      
      <ul>
        <li>information Security</li>
        <li> Data Security</li>
        <li> NetWork Security</li>
        <li> Cloud Security</li>
        

      </ul>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <!-- =======second cart==== -->
  <div class=" col-lg-3 col-md-3 col-12 ">
    <img src="../../../../assets/cloud.svg" class="card-img-top" alt="cloud">
    <div class="card-body">
        <h4 class="card-title">Cloud</h4>
        <h5 class=""> Consulting on</h5>
      <ul>
        <li>Microsoft Azure</li>
        <li> Amazon Web Services</li>
        <li> Google Cloud</li>
        <li> All Cloud Migration</li>

      </ul>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <!-- =====card 3=== -->
  <div class=" col-lg-3 col-md-3 col-12 ">
    <img src="../../../../assets/ai.svg" class="card-img-top" alt="AI">
    <div class="card-body">
      <h4 class="card-title">AI</h4>
      <h5 class=""> specialized in </h5>
      <ul>
        <li>Computer vision</li>
        <li> NLP</li>
        <li> Data analytics and prediction</li>
        <li> Machine & Deep Learning</li>

      </ul>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <!-- =====card 4 ==== -->
  <div class=" col-lg-3 col-md-3 col-12 ">
    <img src="../../../../assets/architech.svg" class="card-img-top" alt="architech">
    <div class="card-body">
      <h4 class="card-title">Architechture</h4>
      <h5 class=""> E2e Consulting on</h5>
      <ul>
        <li>Enterprise Architechture</li>
        <li> Solution & tech Architechture</li>
        <li>Security&Clound Architechture </li>
        <li> DevOps & Miceroservices</li>

      </ul>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

</div>
</section>
