
<section>
    <div class="container-fluid">
        <div class="row">
            <div class=" col-lg-2 col-md-2 col-12 ">
                <img src="../../../../assets/products-04-_1_.ico" class="card-img-top" alt="MCDS">
                <h6 class="text-center">IRP</h6>
                  
        
              </div>
              <div class=" col-lg-2 col-md-2 col-12 ">
                <img src="../../../../assets/products-05.ico" class="card-img-top" alt="MCDS">
                <h6 class="text-center">FRP</h6>
                  
        
              </div>
              <div class=" col-lg-2 col-md-2 col-12 ">
                <img src="../../../../assets/products-06.ico" class="card-img-top" alt="MCDS">
                <h6 class="text-center">YPC</h6>
                  
        
              </div>
        
    </div>
</div>
</section>