
<section id="ourproducts">
    <div class="container-fluid">
        <div class="row">
            <div class=" col-lg-2 col-md-2 col-12 ">
                <img src="../../../assets/products-01.ico" class="card-img-top" alt="MCDS">
                <h6 class="text-center">MCDS</h6>
                  
        
              </div>
              <div class=" col-lg-2 col-md-2 col-12 ">
                <img src="../../../assets/products-02.ico" class="card-img-top" alt="MCDS">
                <h6 class="text-center">NCM</h6>
                  
        
              </div>
              <div class=" col-lg-2 col-md-2 col-12 ">
                <img src="../../../assets/products-03.ico" class="card-img-top" alt="MCDS">
                <h6 class="text-center">MPM</h6>
                  
        
              </div>
        
    </div>
</div>
</section>
<app-ourproducts-version1></app-ourproducts-version1>
<app-ourproducts-version2></app-ourproducts-version2>
