<section id="contact">
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                  <div>
                    <h4>Get in touch withus</h4>
                  </div>
                  
                  <ul>
                      <li>Chennai,Tamil Nadu,india</li>
                      <li>info@fcglobal.in</li>
                      <li>+91 6380247030</li>
                  </ul>
                </div>
                <div class=" row-lg-6 row-md-6 col-12">
                  <img src="../../../assets/map.png" alt="map" width="400" height="300">
                  <h4>4 Regions (India, UK, Germany & USA)</h4>
                </div>

              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                
                  <div>
                    <h3 >Contact US</h3>
                    <p>Let us know your queries</p>
                  </div>
                  <form  [formGroup]="contactForm">
                    <div class="mb-3">
                        <label for="Name" class="form-label">Your Name</label>
                        <input type="text" formControlName ="Name" id="Name" class="form-control" placeholder="Enter your Name" >
                      </div>
                      <div class="mb-3">
                        <label for="mail" class="form-label">Your Email</label>
                        <input type="email" formControlName ="mail" id="mail" class="form-control" placeholder="Enter your Email" >
                        
                      </div>
                      <div>
                        <!-- <div class="form-check"> -->
                          <!-- <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled> -->
                          <!-- <label class="form-check-label" for="disabledFieldsetCheck">
                            Can't check this
                          </label> -->
                        <!-- </div> -->
                        <div class="mb-3">
                          <label for="Message" class="form-label">Your Message</label>
                          <textarea  formControlName ="message" class="form-control" id="Message" rows="3"></textarea>

                          <!-- <label for=""> Enter Your Message</label>
                          <textarea name="" id="" cols="75" rows="5" placeholder="Wellcome To FirstC"></textarea> -->
                        </div>
                      </div>
                      <div>
                        <button  style="text-align:center;" type="submit" class="btn btn-info" (click)="save()">Submit</button>
                      </div>
                      
                    
                  </form>

            </div>

        </div>

    </div>
</section>