
<section id="card">
    <div class="container-fluid">
        <div class="">
               <h1 class="text-center">Why FirstC?</h1>
               <p>Our people first culture at workplace gives you a best in class working environment and work life balance in your day to day life. ONE-O-ONE makes your life better 
                than any other organization’s work culture.</p>
        </div>
        <div class="">
          <img src="../../../assets/one-o-one.svg
          " alt="one-o-one">
        </div>

    </div>
</section>