
<section id="card">
    <div class="container-fluid">
      <div class="d-flex justify-content-center " style="display:flex; justify-content:center; ">
        <h3>Why FirstC?</h3>
      </div>
      
        <div class="">
               
               <p  style="text-align: center;">Our people first culture at workplace gives you a best in class working environment and work life balance in your day to day life. ONE-O-ONE makes your life better 
                than any other organization’s work culture.</p>
        </div>
        <div class="" style="display: flex; justify-content: center; margin-bottom: 2%">
          <img src="../../../assets/one-o-one.svg
          " alt="one-o-one" style="width: 70%; margin-left: 0%">
        </div>

    </div>
</section>