<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
         <h3>We do below services as a part of SCAA</h3>
         <ul>
            <li>Business Consulting Services</li>
            <li>Technology Consulting Services</li>
            <li>Business Process Management Consulting</li>
            <li>Project Management Consulting</li>
            <li>QaaS Quality as a Service</li>
         </ul>

            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <h3>Product Development Services</h3>
                <ul>
                    <li>Product Management Consulting</li>
                    <li>Product Engineering and Development</li>
                    <li>Agility Training, Coaching and Team Setup (Scrum, Squad, POD etc.)</li>
                    
                    
                </ul>

            </div>


        </div>

    </div>
</section>
