<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-12">

            </div>
            <div class="col-lg-5 col-md-5 col-12" style="align-items:center; margin-top: 3%;">
         <h4>We do below services as a part of SCAA</h4>
         <ul>
            <li>Business Consulting Services</li>
            <li>Technology Consulting Services</li>
            <li>Business Process Management Consulting</li>
            <li>Project Management Consulting</li>
            <li>QaaS Quality as a Service</li>
         </ul>

            </div>
            <div class="col-lg-5 col-md-5 col-12" style="align-items:center; margin-top: 3%;">
                <h4>Product Development Services</h4>
                <ul>
                    <li>Product Management Consulting</li>
                    <li>Product Engineering and Development</li>
                    <li>Agility Training, Coaching and Team Setup (Scrum, Squad, POD etc.)</li>
                    
                    
                </ul>

            </div>
             <div class="col-lg-1 col-md-1 col-12">

             </div>

        </div>

    </div>
</section>
