<section id="ourproducts">
  <div class="container" style="align-items: center; margin-bottom: 3%;">
      <div class="row">
          <div class=" col-lg-4 col-md-4 col-12 px-2 py-4 ">
            <div class="card" style="border:none; ">
              <div class="card-body" style=" background:#fae3ff">
                <div class="" style="dispaly: flex; justify-content :center">
                  <img src="../../../../assets/products-07.png" class="card-img-top" alt="MCDS"  style=" width: 110px; height: 110px;padding: 10px 30px ; margin-left: 35%;">
                </div>
                <h6 class="card-title" style="text-align: center;">IDE</h6>
              </div>
            </div>
          </div>
          <div class=" col-lg-4 col-md-4 col-12 px-2 py-4 ">
            <div class="card" style="border:none; ">
              <div class="card-body" style=" background:#dbffdb">
                <div class="" style="dispaly: flex; justify-content :center">
                  <img src="../../../../assets/products-08.png" class="card-img-top" alt="MCDS"  style=" width: 110px; height: 110px;padding: 10px 30px ; margin-left: 35%;">
                </div>
                <h6 class="card-title" style="text-align: center;">MF</h6>
              </div>
            </div>
          </div>
          <div class=" col-lg-4 col-md-4 col-12 px-2 py-4 ">
            <div class="card" style="border:none; ">
              <div class="card-body" style=" background: #fefedf;">
                <div class="" style="dispaly: flex; justify-content :center">
                  <img src="../../../../assets/products-09.png" class="card-img-top" alt="MCDS" style=" width: 110px; height: 110px;padding: 10px 30px ; margin-left: 35%;">
                </div>
                <h6 class="card-title" style="text-align: center;">CP</h6>
              </div>
            </div>
          </div>
        </div>
      </div>

</section>